# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# frameworks and output files
/.unlighthouse/
/.next/
.next
**/.next
/out/
/dist/
/dist*/
/build/
/data/
/.astro/

# os
.DS_Store
*.pem

# secrets
.env
.env.*

# cache
.cache
out

# ide
.gradle
*.iml
.idea

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock

# turbo
.turbo

# vscode
.vscode

# vite
vite.config.d.ts
vite.config.js

# convex
convex/_generated

# ai
.roo/rules-code
GEMINI.md
docs/specs/
