(shared_config_solid_ui) {
	handle_path /images* {
		rewrite * {path}
		root * /home/david/Coding/adaptive-solid-ui/public-images
		file_server
		header {
			Routed "solid-ui-images"
			Cache-Control "public, max-age=60, immutable"
		}
	}
}

solid-ui.com {
	import shared_config_web
	import shared_config_solid_ui
	header {
		Routed "astro"
	}
	reverse_proxy localhost:3031
}

dist.solid-ui.com {
	import shared_config_web
	import shared_config_solid_ui
	import shared_config_caching
	header {
		Routed "astro-dist"
	}
	root * /home/david/Coding/adaptive-solid-ui/out
	file_server
}
